/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

 .box {
    border-style: solid;
    border-color: white ;
    border-width: 1px;
    text-align: left;
    margin-top:2px;
    padding-left:2px;
    padding-top:5px;
    padding-bottom:35px;
  }

.textFormat{
   margin-top: 1px;
   color: orange;
   font-family:  Helvetica;
   
}


/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.tabcontent1 {
  color: white;
  display: block;
  padding: 100px 20px;
  height: 100%;
}

#Analyzer {background-color: DarkSlateGrey ;}
#Trades {background-color: DarkSeaGreen ;}
#Logs {background-color: LightSeaGreen ;}
#Statistic {background-color: SteelBlue ;}
